# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.5/en/server-configuration-defaults.html
{% set datadir = salt['pillar.get']('mysql:datadir', '/var/lib/mysql') -%}

{% if grains['osmajorrelease'][0] == '6' %}
{% set user = salt['pillar.get']('mysql:init_user', 'mysql') -%}
{% elif grains['osmajorrelease'][0] == '7' %}
{% set user = salt['pillar.get']('mysql:init_user', 'root') -%}
{% endif %}


[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
user = {{ user }}
datadir = {{ datadir }}
socket = {{ datadir }}/mysql.sock
skip_name_resolve = on
innodb_file_per_table = on
server-id = 10
log_bin = mysql_bin
log-error = {{ datadir }}/mysql.log
slow_query_log=ON
slow_query_log_file = {{ datadir }}/slow-queries.log
default_storage_engine = innodb
innodb_data_home_dir = {{datadir}}
pid-file={{ datadir }}/mysql.pid

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# include all files from the config directory
#
!includedir /etc/my.cnf.d

# Recommended in standard MySQL setup
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]




