[mysql]
host={{grains['fqdn_ip4'][0]}}
user={{pillar['mysql_monitor']['user']}}
password={{pillar['mysql_monitor']['pass']}}
socket=/var/lib/mysql/mysql.sock

[mysqladmin]
host={{grains['fqdn_ip4'][0]}}
user={{pillar['mysql_monitor']['user']}}
password={{pillar['mysql_monitor']['pass']}}
socket=/var/lib/mysql/mysql.sock
